%entry
  %title= doc['title']
  %link{:href=>doc['url']}
  %id= "urn:uuid:"+doc['uuid']
  %updated= doc['mtime'].xmlschema
  %published= doc['date'].xmlschema
  - if doc['summary'] and doc['summary'].length > 0
    - s = haml doc['summary'], :layout=>false
    %summary= s.gsub(%r{</?[^>]+?>}, '')
  - if doc['author']
    %author
      - if doc['author']['name'] and doc['author']['name'].length > 0
        %name= doc['author']['name']
      - if doc['author']['email'] and doc['author']['email'].length > 0
        %email= doc['author']['email']
      - if doc['author']['uri'] and doc['author']['uri'].length > 0
        %uri= doc['author']['uri']

